flows.json
[
    {
        "id": "3af82246.3634ae",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "72a6930c6e5f8bf7",
        "type": "inject",
        "z": "3af82246.3634ae",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "e6dd13f95fc423af"
            ]
        ]
    },
    {
        "id": "e6dd13f95fc423af",
        "type": "debug",
        "z": "3af82246.3634ae",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 240,
        "wires": []
    },
    {
        "id": "59ff2a1.fa600d4",
        "type": "http in",
        "z": "3af82246.3634ae",
        "name": "",
        "url": "/hello",
        "method": "get",
        "swaggerDoc": "",
        "x": 200,
        "y": 380,
        "wires": [
            [
                "54c1e70d.ab3e18"
            ]
        ]
    },
    {
        "id": "54c1e70d.ab3e18",
        "type": "template",
        "z": "3af82246.3634ae",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>",
        "x": 350,
        "y": 380,
        "wires": [
            [
                "266c286f.d993d8"
            ]
        ]
    },
    {
        "id": "266c286f.d993d8",
        "type": "http response",
        "z": "3af82246.3634ae",
        "name": "",
        "x": 490,
        "y": 380,
        "wires": []
    },
    {
        "id": "a557acb0efc75a0f",
        "type": "http in",
        "z": "3af82246.3634ae",
        "name": "",
        "url": "/bye",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 460,
        "wires": [
            [
                "b4ef868fe4ad227e"
            ]
        ]
    },
    {
        "id": "b4ef868fe4ad227e",
        "type": "template",
        "z": "3af82246.3634ae",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Bye World!</h1>\n    </body>\n</html>",
        "x": 350,
        "y": 460,
        "wires": [
            [
                "49395ea33fa78efe"
            ]
        ]
    },
    {
        "id": "49395ea33fa78efe",
        "type": "http response",
        "z": "3af82246.3634ae",
        "name": "",
        "x": 490,
        "y": 460,
        "wires": []
    }
]